<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>
<%- include('layouts/sidebar.ejs')%>
<section>
    <div class="row">
        <div class="col-10 offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <%  let subTotal = 0; 
                        for (let c of cart) { 
                    %>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            
                            <a class="thumbnail pull-left" href="/assets/img/products/<%= c.img %>"> <img class="media-object" src="/assets/img/products/<%= c.img %>" alt="<%= c.title %>" style="width: 72px; height: 72px;"></a>

                            <div class="media-body">
                                <h4 class="media-heading"><a href="#"><%= c.title %></a></h4>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        
                        <td class="col-sm-1 col-md-1 text-center">
                            <a href="/decrease/<%= c.id %>">
                                <i class="fas fa-chevron-down fa-xs border-secondary-color text-secondary-color"></i>
                            </a> 
                            <input class="text-center" value="<%= c.quantity %>" size="1"/>
                            <a href="/increase/<%= c.id %>"> 
                                <i class="fas fa-chevron-up fa-xs border-secondary-color text-secondary-color"></i>
                            </a> 
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= c.price %></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= (c.quantity * c.price).toFixed(2) %></strong></td>
                        <td class="col-sm-1 col-md-1">
                            <form action="/<%= c.id %>?_method=Delete" method="POST" id="removeButton">
                                <button type="submit" class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light border-secondary-color text-secondary-color hover-border-primary-color hover-text-primary-color">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </form>
                        </td>
                        <td class="col-sm-1 col-md-1">
                            <form action="/<%= c.id %>?_method=Add" method="POST" id="addButton">
                                <button type="submit" class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light border-primary-color text-primary-color hover-border-secondary-color hover-text-secondary-color">
                                    <span class="glyphicon glyphicon-add"></span>Wishlist
                                </button>
                            </form>
                        </td>
                    </tr>
                    <%  subTotal = subTotal + (c.quantity * c.price);
                    }   
                        var tax = 0;
                        var total = 0;
                        tax = subTotal * 0.0625;
                        total = subTotal + tax; 
                    %>               
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        
                        <td class="text-right"><h5><strong>$<%= subTotal.toFixed(2) %></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated tax</h5></td>
                        <td class="text-right"><h5><strong>$<%= tax.toFixed(2) %></strong></h5></td>
                        <td>   </td>
                        <td>   </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$<%= total.toFixed(2) %></strong></h3></td>
                        <td>   </td>
                        <td>   </td>
                    </tr>
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a type="button" href="/" class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light border-tertiary-color text-tertiary-color hover-border-quaternary-color hover-text-quaternary-color">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </a>
                        </td>
                        <td>
                            <a type="button" href="/checkout" class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light border-quaternary-color text-quaternary-color hover-border-tertiary-color hover-text-tertiary-color">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </a>
                        </td>
                        <td>   </td>
                        <td>   </td>
                    </tr> 
                   
                </tbody>
            </table>
        </div>
    </div>
</section>
</div>
</div>
<%- include('layouts/footer.ejs') %>