<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>
<%- include('layouts/sidebar.ejs')%>
    <!-- Page Content -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>

        <div class="container">
            <div class="row">
            <% for (let p of products) { %>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="/assets/img/ct2/<%= p.img %>"><img class="card-img-top" src="/assets/img/ct2/<%= p.img %>"
                            alt="<%= p.title %>"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/ct2/<%=p._id%>"><%= p.title %></a>
                        </h4>
                        <h5>$<%= p.price %></h5>
                        <form action="/add-cart" method="POST">
                            <input type="hidden" name="id" value="<%= p._id %>">
                            <input type="hidden" name="catId" value="cat2">
                            <button type="submit" class="btn btn-primary" style="background-color: #7386D5;"> Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <div>
</div>
<%- include('layouts/footer.ejs') %>